@solvimon:registry=https://gitlab.com/api/v4/projects/38958827/packages/npm/
//gitlab.com/api/v4/projects/38958827/packages/npm/:_authToken=glpat-synRe_bQaoy3LypRko7iLWM6MQpvOjEKdTptZWcydA8.01.170k3nzq6
always-auth=true
