//registry.npmjs.org/:_authToken=${NPM_TOKEN}
@solvimon:registry=https://gitlab.com/api/v4/projects/38958827/packages/npm/
//gitlab.com/api/v4/projects/38958827/packages/npm/:_authToken=${GITLAB_NPM_TOKEN}
